body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

nav {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 33%;
}

nav a {
    text-decoration: none;
    outline: none;
    color: black;
}

h2 {
    width: 50%;
    color: black;
}

h3 {
    text-align: center;
    padding-top: 10rem;
    font-size: 2.7rem;
    color: white;
}

.container {
    background-image: url(../images/photo-1440404653325-ab127d49abc1.jpg);
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 75px;
}

.nowPlaying {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homePage {
margin: 0 auto;
}

.detailsContainer {

}

.specificMovie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/camera-1149041_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 75px;
    min-height: 100vh;
}

.compartment {
    border: .25rem solid white;
    background: white;
    display: flex;
    justify-content: center;
    height: 12rem;
    width: 55%;
}

span {
    margin-left: .75rem;
    padding-left: .75rem;
    display: flex;
    align-items: center;
    border-left: 2px solid black;
}